<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload CSS File</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-n+UfcVJ/yZOkhUfi+6LcC0/0h6yvJ6b9dYQ0aNOZFFfNvMwsLUJ7NEVEwA3qbmMBvc1+TQyYgIfJdjGj1p7bHg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <h1>Upload CSS File</h1>
        <form id="upload-form" method="post" enctype="multipart/form-data" action="/upload">
            <div class="mb-3">
                <label for="css-file" class="form-label">Select a CSS file to upload:</label>
                <input type="file" class="form-control" id="css-file" name="file">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- Bootstrap JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js" integrity="sha512-kg/Zd9rLcwQ0B0GSSABZzA7JVEbOwq3/zVWxQv5IgG1/5dY8PUgW9Okt3GpPWICZe7wtF1w8yKjDS/hn/vFZVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
